/* ===== MAIN CONTENT ===== */
/* ===========================
   HERO SECTION = */

.main-content{
    max-width: 1450px;
    margin: 20px auto;
    padding: 0 15px;
}

.hero-section{
    width:100%;
}

.hero-banner{
    display:flex;
    gap:15px;
    align-items:stretch;
}

/* ===========================
   LEFT SLIDER
=========================== */

.banner-left{
    width:65%;
    height:600px;
    border-radius:15px;
    overflow:hidden;
    position:relative;
    background:#f5f5f5;
}

.slider{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slides{
    display:flex;
    width:100%;
    height:100%;
    transition:transform .3s ease-in-out;
}

.slide{
    flex:0 0 100%;
    width:100%;
    height:100%;
    object-fit:cover;
    user-select:none;
}

  
.banner-content{
    position: absolute;
    top: 50px;         
    left: 50px;

    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 12px;

    max-width: 360px;

    color: #fff;
}

.banner-content h1{
    font-size: 58px;
    font-weight: 800;
    line-height: .95;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-shadow: 0 4px 15px rgba(0,0,0,.35);
}

.banner-content p{
    font-size: 20px;
    color: #f5f5f5;
    font-weight: 400;
}

.banner-bottom{
    position: absolute;
    top: 320px;          /* 350px থেকে 70px করুন */
    left: 5px;

    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 12px;

    max-width: 360px;

    color: #fff;
}


.banner-bottom h3{
    font-size: 25px;
    color: #ececec;
    font-weight: 800;
    top:200;
}

.banner-bottom h2{
    font-size: 46px;
    color: #ffb84d;
    font-weight: 700;
    text-shadow: 0 2px 8px rgba(0,0,0,.35);
}

.banner-bottom a{
    display: inline-block;
    margin-top: 12px;
    padding: 12px 28px;
    border-radius: 40px;
    background: #fff;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.banner-bottom a:hover{
    background: #c57b32;
    color: #fff;
     transform: translateY(-1px);

}

.banner-left{
    position:relative;
}

.banner-left::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
        to right,
        rgba(0,0,0,.45),
        rgba(0,0,0,.15),
        transparent
    );
    z-index:1;
}

.banner-content{
    z-index:2;
}

       /* arrow buttons */

.prev,
.next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:#fff;
    cursor:pointer;
    font-size:22px;
    z-index:10;
}

.prev{
    left:20px;
}

.next{
    right:20px;
}
.prev:hover,
.next:hover{

    background:#c9782f;
    color:#fff;
}
 

/* Right Side */

.banner-right{
    width:35%;
    height:600px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* Top & Bottom Image */

.right-card{
    width:100%;
    height:292px;      
    overflow:hidden;
    border-radius:15px;   
}

.right-card img{
    width: 100%;
    height:100%;
    object-fit:cover;
    display:block;
    transition:.4s;
}

.right-card:hover img{
    transform:scale(1.05);
}



/*ROOM CATEGORIES SECTION */

.room-categories-section {
    background-color: #eaeaed;
    padding: 40px 25px;
    margin-top: 30px ;
    margin-bottom: 30px;
    position: relative;
    border-radius: 8px;
}

.room-header {
    max-width: 1400px;
    margin: 0 auto 40px auto;
}

.room-title {
    font-size: 35px;
    font-weight: 700;
    color:#2c2c2c;
    margin-bottom: 12px;
}

.room-description {
    font-size: 17px;
    color: #666;
    line-height: 1.8;
     max-width:900px;
}

.more-link {
    color: #D4704C;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}

.more-link:hover {
    text-decoration: underline;
}

.room-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

 
.room-items-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 10px;
    width: 100%;
    scrollbar-width: none;      
    -ms-overflow-style: none;
}

.room-items-container::-webkit-scrollbar {
    height: 6px;
    display: none;  
}

.room-items-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.room-items-container::-webkit-scrollbar-thumb {
    background: #D4704C;
    border-radius: 10px;
}

.room-item {
    flex: 0 0 calc(20% - 16px);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}
.room-item a{
    text-decoration: none;
    color: inherit;
    display: block;
}
 

.room-image {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s;
    border: 1px solid #a4a2a2;
}

.room-item:hover .room-image {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.room-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.room-item:hover .room-image img {
    transform: scale(1.08);
}

.room-name {
    font-size: 14px;
    font-weight: 500;
    color: black;
    letter-spacing: 0.5px;
}
 
 
 
/* ===== CATEGORY SECTIONS ===== */
.category-section {
    margin-bottom: 30px;
}

.section-titles {
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
    color: #333;
}
.product-slider{
    position:relative;
    display:flex;
    align-items:center;
}

.products-wrapper{
     width:100%;
    overflow:hidden; 
     scroll-behavior:smooth; 
       
}
.view-all-link{
    text-decoration:none;
    overflow:hidden;
}

.products-grids{
    display:flex;
    gap:15px;
    width:max-content;
    
}

.product-cards{
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    max-width:270px;
    min-width: 270px;
    cursor: pointer;
 
    flex-shrink:0;
}
/* Arrow */

.slide-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:30px;
    height:30px;
    border:none;
    border-radius:50%;
    background:#fff;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
    cursor:pointer;
    z-index:10;
      
}

.prev-btn{
    left:-20px;
}

.next-btn{
    right:-20px;
}

.slide-btn:hover{
    background:#c9782f;
    color:#fff;
}
.product-cards:not(.featured-card) {
    display: flex;
    flex-direction: column;
}

.product-cards:not(.featured-card):hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    
}

.product-cards img:not(.featured-card img) {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.product-cards h4 {
    font-size: 13px;
    font-weight: 600;
    padding: 12px 12px 3px 12px;
    color: #333;
}

.product-cards .price {
    font-size: 14px;
    font-weight: 700;
    color: #D4704C;
    padding: 0 12px 12px 12px;
}

/* ===== CATEGORIES BROWSE SECTION ===== */
.categories-browse-section {
    margin-bottom: 40px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin:40px 0;
    flex-wrap: wrap;
}

.filter-btn {
    background:#fff;
    color:#333;
    border:1.5px solid #d8d8d8;
    border-radius:80px;
    padding:6px 24px;
    font-size:15px;
    font-weight:400;
    cursor:pointer;
    transition:all .3s ease;
    font-family:'Poppins',sans-serif;
}

.filter-btn:hover {
    border-color: #D4704C;
    color: #D4704C;
}

.filter-btn.active {
    color: #fff;
     background: #D4704C;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    size:900px 492px;
}

.category-item {
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
}

.category-image {
    margin: 8px 12px;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 8px;
    overflow: hidden;
    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    size: 138px 119px;
}

.category-item:hover .category-image {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.category-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.category-item:hover .category-image img {
    transform: scale(1.05);
}

.category-name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.5px;
}

/*brand banner*/

.brand-marquee{
    width:100%;
    overflow:hidden;
    background:#fff;
    margin-top:50px;
    padding:22px 0;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}

.brand-track{
    display:flex;
    align-items:center;
    gap:35px;
    white-space:nowrap;
    width:max-content;
    animation:marquee 22s linear infinite;
}

.brand-track span{
    font-size:28px;
    font-weight:700;
    color:#100f0f;
    text-transform:uppercase;
    letter-spacing:1px;
}

.brand-track span:nth-child(even){
    color:#c23e0f;
    font-size:18px;
}

@keyframes marquee{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-50%);
    }
}
